:local(.wrapper){
	position: relative;

	:local(.mask){
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		>img{
			width: 100%;
			height: 100%;
			object-fit: fill;
		}
	}
}
:local(.container){
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: space-between;
	// padding: 10%;
	// box-sizing: border-box;
	padding-bottom: 10%;
	box-sizing: border-box;
	:local(.backgroundImage){
		height: 100vh;
		width: 100vw;
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		filter:blur(10px);
		z-index: -1;
	}
	:local(.headerBar){
		position: absolute;
		top:0;
		left: 0px;
	}

	:local(.userInfo){
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		&>img{
			width: 55px;
			border-radius: 50px;
			margin-right: 20px;
		}
		&>span{
			font-size: 18px;
			font-weight: normal;
		}
	}

	:local(.logo){
		width:100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		:local(.logowrapper){
			position:relative;
			&>img{
				width: 250px;
			}
			:local(.days){
				position: absolute;
				bottom: 40px;
				left: 96px;
				font-weight: bold;
				font-size: 20px;
				&>span{
					font-size: 26px;
				}
			}
		}
	}

	:local(.description){
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	:local(.button){
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		:global(.ant-btn){
			border-radius: 20px;
		    background-color: #32B875;
			border: none;
			color: white;
		}
	}

	:local(.player){
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding:0 10px;
		:local(.progressBar){
			flex-grow:2;
		}
		>img{
			width: 55px;
		}
	}
}
